name: Python Tests

on:
  push:
    branches: [ main, master, DeepLearning  ]
  pull_request:
    branches: [ main, master, DeepLearning  ]

jobs:
  test:
    runs-on: macos - latest

    strategy:
      matrix:
        python-version: [3.11]

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run pytest
      run: |
        pytest